@using MobaSpace.Core.Data.Models
@model MobaSpace.Web.UI.ViewModels.PatientViewModel

@{
    ViewData["Title"] = "Résidents";
    ViewData["sub-Title"] = " - Éditer";
    var apis = ViewBag.Apis as IEnumerable<Microsoft.AspNetCore.Authentication.AuthenticationScheme>;
    ViewData["patientId"] = Model.Patient.Id;
}
<div class="container">
<h1>Modifier résident</h1>

<form asp-action="Edit" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-4">
            <h4>Résident @Model.Patient.Id</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Patient.Id" />
            <div class="form-group">
                <label asp-for="Patient.Chambre" class="control-label"></label>
                <input asp-for="Patient.UnencriptedPatient.Chambre" class="form-control" />
                <span asp-validation-for="Patient.Chambre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.NumCh" class="control-label"></label>
                <input asp-for="Patient.UnencriptedPatient.NumCh" class="form-control" />
                <span asp-validation-for="Patient.NumCh" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label>Coucher</label>
                <div class="row">
                    <div class="col">
                        <a class="text-sm-left"><b>H</b></a>
                    </div>
                    <div class="col">
                        <b>Min</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="labelCoucherH" asp-for="Patient.Coucher_h" class="form-control" />
                    </div>
                    <div class="col">
                        <input id="labelCoucherMin" asp-for="Patient.Coucher_min" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="rangeCoucherH" class="max-width" tabindex="-1" min="0" max="23" type="range">
                    </div>
                    <div class="col">
                        <input id="rangeCoucherMin" class="max-width" tabindex="-1" min="0" max="59" type="range">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span asp-validation-for="Patient.Coucher_h" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <span asp-validation-for="Patient.Coucher_min" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Lever</label>
                <div class="row">
                    <div class="col">
                        <b>H</b>
                    </div>
                    <div class="col">
                        <b>Min</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="labelLeverH" asp-for="Patient.Lever_h" class="form-control" />
                    </div>

                    <div class="col">
                        <input id="labelLeverMin" asp-for="Patient.Lever_min" class="form-control" />
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <input id="rangeLeverH" class="max-width" tabindex="-1" min="0" max="23" type="range">
                    </div>
                    <div class="col">
                        <input id="rangeLeverMin" class="max-width" tabindex="-1" min="0" max="59" type="range">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span asp-validation-for="Patient.Lever_h" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <span asp-validation-for="Patient.Lever_min" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Durée maximale hors du lit (min)</label>
                <input id="labelHDLMax" asp-for="Patient.DureeMaxHorsLit_min" class="form-control" />
                <input id="rangeMaxHDL" class="max-width" tabindex="-1" min="0" max="59" type="range">
                <span asp-validation-for="Patient.DureeMaxHorsLit_min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Durée maximale allongé au lit en journée (h)</label>
                @{ var TempsMaxAllongeJourH = Model.Patient.TempsMaxAllongeJour / 3600; }
                <input id="labelAALMax" asp-for="Patient.TempsMaxAllongeJour" value="@TempsMaxAllongeJourH" class="form-control" />
                <input id="rangeAALMax" class="max-width" tabindex="-1" min="0" max="24" type="range">
                <span asp-validation-for="Patient.TempsMaxAllongeJour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauver" class="btn btn-outline-primary" />
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <h4>Contacts d'alarme</h4>
            <table class="table">
                <tbody>
                    @for (int i = 0; i < Model.ContactsPatient.Count; i++)
                    {
                        <tr>
                            <td class="col-1">
                                <input asp-for="@Model.ContactsPatient[i].Utilisateur.Id" type="hidden" class="form-check-input" />
                                <input asp-for="@Model.ContactsPatient[i].Utilisateur.UserName" type="hidden" class="form-check-input" />
                                <input asp-for="@Model.ContactsPatient[i].Selectionne" class="form-check-input" />
                            </td>
                            <td>
                                @Model.ContactsPatient[i].Utilisateur.UserName @Model.ContactsPatient[i].Utilisateur.UserSurname
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <br />
            <br />

            <h4>Matelas Withings</h4>
            <table class="table">
                <tbody>
                    @for (int i = 0; i < Model.ApisPatient.Count; i++)
                    {
                        if (Model.ApisPatient[i].Api.Provider == "Withings")
                        {
                            <tr>
                                <td class="col-1">
                                    <input asp-for="@Model.ApisPatient[i].Api.Id" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.Provider" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.ApiUserId" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.AccessToken" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.RefreshToken" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.ClientId" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.ClientSecret" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Selectionne" class="form-check-input" />
                                </td>
                                <td>
                                    #@Model.ApisPatient[i].Api.Id  @Model.ApisPatient[i].Api.ApiName
                                </td>
                            </tr>
                        }


                    }
                </tbody>
            </table>
            <h4>Dispositifs MoBY</h4>
            <table class="table">
                <tbody>
                    @for (int i = 0; i < Model.ApisPatient.Count; i++)
                    {
                        if (Model.ApisPatient[i].Api.Provider == "Mobaspace")
                        {
                            <tr>
                                <td class="col-1">
                                    <input asp-for="@Model.ApisPatient[i].Api.Id" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.Provider" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.ApiUserId" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.AccessToken" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.RefreshToken" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.ClientId" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Api.ClientSecret" type="hidden" class="form-check-input" />
                                    <input asp-for="@Model.ApisPatient[i].Selectionne" class="form-check-input" />
                                </td>
                                <td>
                                    #@Model.ApisPatient[i].Api.Id  @Model.ApisPatient[i].Api.ApiName
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a asp-action="Index">Retour</a>
    </div>
</form>
</div>
@section Scripts {
    <script src="~/js/multi-range-setting.js" asp-append-version="true"></script>
    <script src="~/js/InitSlider.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
